.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    margin: 10px 0;
}

.product-box {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 320px;
    margin: 10px 0;
}

.product img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
}

.product h3, .product p, .product h4 {
    margin: 0;
}

.overlay {
    box-sizing: content-box;
    position: relative;
    top: 20%;
    width: 0;
    display: flex;
    flex-direction: row;
}

.bag {
    right: 71%
}

.heart {
    right: 56%;
}

.search {
    right: 41%;
}


.product-box button {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 20px;
    width: 35px;
    height: 40px;
    border: 0px;
    border-radius: 10px;
}

.product-box button:hover {
    cursor: pointer;
    background-color:  rgba(179, 0, 0, 1);
    color: white;
    transition: 300ms;
}

.open {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
}

.open img {
    width: 500px;
    height: 500px;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.7);
}

.open button {
    background-color:  rgba(179, 0, 0, 1);
    position: relative;
    width: 50px;
    height: 50px;
    bottom: 250px;
    right: 30px;
    font-size: 30px;
    border: 0px;
    border-radius: 50%;
}

.open button:hover {
    cursor: pointer;
}